streamlit==1.32.0
pandas==1.5.3
pandasai==1.5.21
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.22.0
scikit-learn==1.5.2
statsmodels==0.14.2
prophet==1.1.5
cmdstanpy==1.2.3
holidays==0.29
shap==0.45.1
openpyxl==3.1.5
fpdf2==2.8.1
pyarrow==16.1.0
mlxtend==0.23.1
networkx==3.2.1
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
openai==1.109.1
